{% liquid
  # To show the next 8 tides starting from the current time, we need to find
  # which tide is happening right now. The "tides" array contains predictions
  # for entire days, so we loop through it to find the index of the tide
  # closest to "now".
  assign current_tide_index = -1
  for tide in tides
    assign tide_time_utc_seconds = tide.t | date: "%s"
    if tide_time_utc_seconds < now_utc_seconds
      assign current_tide_index = current_tide_index | plus: 1
    endif
  endfor
%}

<div class="layout layout--col">

  <div class="border--h-7 pb--4 w--full text--center">
    <div class="title">
      {% render "tide_direction" current_tide: tides[current_tide_index] %}
    </div>
    <div class="description">{{ station_name }} ({{ station_id }})</div>
  </div>

  <div class="stretch">
    <div class="flex flex--col flex--stretch h--full">
      {% for tide in tides offset: current_tide_index, limit: 6 %}
        <div class="flex flex--row flex--center">
          <div class="w--full text--right">
            <span style="display:inline;" class="label label--small {% if tide.type == "H" %}label--outline{% endif %}">
              {% if time_format == "12-hour" %}
                {{ tide.t | date: "%s" | plus: trmnl.user.utc_offset | date: "%-I:%M %p" }}
              {%  else  %}
                {{ tide.t | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}
              {% endif %}
            </span>
          </div>
          <div class="px--6">
            {% if tide.type == "H" %}
              {% render "high_tide_svg" icon_size: 36 %}
            {% else %}
              {% render "low_tide_svg" icon_size: 36 %}
            {% endif %}
          </div>
          <div class="w--full label label--small">{{ tide.t | date: "%s" | plus: trmnl.user.utc_offset | date: "%b %e" }}</div>
        </div><!--/flex-->
      {% endfor %}
    </div><!--/flex-->
  </div><!--/stretch-->

</div><!--/layout-->

{% render "title_bar", instance: trmnl.plugin_settings.instance_name, now: now_utc_seconds, utc_offset: trmnl.user.utc_offset, format: time_format, condensed: true %}
