<div class="layout layout--col">

  <div class="border--h-4 pb--2 w--full text--center">
    <div class="title">
      {% render "tide_direction" current_tide: tides[current_tide_index] %}
    </div>
    <div class="description">{{ station_name }} ({{ station_id }})</div>
  </div>

  <div class="stretch">
    <div class="grid grid--cols-4 h--full">
      {% for tide in tides offset: current_tide_index, limit: 4 %}
        <div class="flex flex--col flex--center-y" style="justify-content: space-around !important;">
          {% render "tide_tile_icon", icon_size: 32, tide_direction: tide.type %}
          <div class="label label--small {% if tide.type == "H" %}label--outline{% endif %}">
            {% if time_format == "12-hour" %}
              {{ tide.t | date: "%s" | plus: trmnl.user.utc_offset | date: "%-I:%M %p" }}
            {%  else  %}
              {{ tide.t | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}
            {% endif %}
          </div>
          {% if show_tide_levels == "true" %}
            <div class="label label--small">{{ tide.v | round: 1 }} {{ units_symbol }}</div>
          {% endif %}
          <div class="label label--small">{{ tide.t | date: "%s" | plus: utc_offset | date: "%b %e" }}</div>
        </div>
      {% endfor %}
    </div>
  </div><!-- stretch -->

</div><!--/layout-->

{% render "title_bar", instance: trmnl.plugin_settings.instance_name, now: now_utc_seconds, utc_offset: trmnl.user.utc_offset, format: time_format %}
